{{define "icinga"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta http-equiv="refresh" content="15">
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	</head>
	<body>
		<div class="row">
			<div class="col-md-3">
				{{ if eq .CriticalCount 0 }}
				<div class="card card-outline-danger text-xs-center">
				{{ else }}
				<div class="card card-inverse card-danger text-xs-center">
				{{ end }}
					<div class="card-block">
						<blockquote class="card-blockquote">
							Critical
							<h1 class="card-title">{{ .CriticalCount }}</h1>
						</blockquote>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				{{ if eq .WarningCount 0 }}
				<div class="card card-outline-warning text-xs-center">
				{{ else }}
				<div class="card card-inverse card-warning text-xs-center">
				{{ end }}
					<div class="card-block">
						<blockquote class="card-blockquote">
							Warning
							<h1 class="card-title">{{ .WarningCount }}</h1>
						</blockquote>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				{{ if eq .UnknownCount 0 }}
				<div class="card card-outline-primary text-xs-center">
				{{ else }}
				<div class="card card-inverse card-primary text-xs-center">
				{{ end }}
					<div class="card-block">
						<blockquote class="card-blockquote">
							Unknown
							<h1 class="card-title">{{ .UnknownCount }}</h1>
						</blockquote>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				{{ if eq .AcknowledgedCount 0 }}
				<div class="card card-outline-info text-xs-center">
				{{ else }}
				<div class="card card-inverse card-info text-xs-center">
				{{ end }}
					<div class="card-block">
						<blockquote class="card-blockquote">
							Acknowledged
							<h1 class="card-title">{{ .AcknowledgedCount }}</h1>
						</blockquote>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<p class="h1">
					{{ $problems := len .ServiceProblems }}
					{{ if eq $problems 1 }}
						{{ $problems }} service problem
					{{ else }}
						{{ $problems }} service problems
					{{ end }}
				</p>
			</div>
			<div class="col-sm-6">
				<p class="h1 text-md-right">
					{{ .CurrentTime }}
				</p>
			</div>
		</div>
		<table class="table table-sm">
			<thead class="thead-inverse">
					<tr>
						<th>
							Duration
						</th>
						<th>
							Host
						</th>
						<th>
							Service
						</th>
						<th>
							Output
						</th>
					</tr>
			</thead>
			<tbody>
				{{ range $index, $value := .ServiceProblems }}
					{{ if eq .ServiceState 0 }}
						<tr class="table-success">
					{{ end }}
					{{ if eq .ServiceState 1 }}
						<tr class="table-warning">
					{{ end }}
					{{ if eq .ServiceState 2 }}
						<tr class="table-danger">
					{{ end }}
					{{ if eq .ServiceState 3 }}
						<tr class="table-info">
					{{ end }}
						<td>
							{{ .HumanDuration }}
						</td>
						<td>
							{{ .HostDisplayName }}
						</td>
						<td>
							{{ .ServiceDescription }}
						</td>
						<td>
							{{ .ServiceOutput }}
						</td>
					</tr>
				{{ end }}
			</tbody>
		</table>
	</body>
</html>
{{end}}
